.auth-container {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  background-color: #c8da60;
}

.img-user {
  width: 40%;
  margin-top: 1rem;
}

.auth {
  width: 100%;
  max-width: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 35px;
  box-shadow: 0px 4px 8px 0px #00000040;
}

.field{
    width: 80%;
}
.btn-auth{
    height: 40px;
    width: 40%;
}
form{
  padding: 10px 10px 20px 10px;
}