<section>
    <mat-toolbar color="primary" class="navbar-container">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <h1>Compra Gamer</h1>
      <div  class="amount-container"><span>3</span></div>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon class="shopping_cart">shopping_cart</mat-icon>
        
      </button>
    </mat-toolbar>
    
</section>

